*.pyc
*~
__pycache__
test
tests
node_modules
demo
doc
docs
man
benchmark
codemirror/mode/*/index.html
highlight.js/tools
jquery-ui/themes/*
!jquery-ui/themes/base

requirejs/*.sh
requirejs/dist

less.js/build

# is there a better way to express 'only this subtree'?
font-awesome/build/*
!font-awesome/build/assets
font-awesome/build/assets/*
!font-awesome/build/assets/font-awesome

