*.pyc
*~
__pycache__
test
tests
node_modules
demo
doc
docs
examples
man
benchmark
CNAME
.editorconfig
_config.yml
*/.travis.yml
Gruntfile*
.editorconfig
component.json
composer.json
package.json

codemirror/mode/*/index.html

google-caja/*.js
!google-caja/html*sanitizer-bundle.js
!google-caja/html*sanitizer-minified.js

highlight.js/tools/*.jar

# sizzle from jquery, for no reason
sizzle

jquery-ui/themes/*
!jquery-ui/themes/smoothness

# exclude jquery-ui sub-pieces
jquery-ui/ui/*.js
jquery-ui/ui/*/*.js
jquery-ui/ui/*/*/*.js
!jquery-ui/ui/jquery-ui.js
!jquery-ui/ui/i18n/jquery-ui-i18n.js
!jquery-ui/ui/minified/jquery-ui.min.js
!jquery-ui/ui/minified/i18n/jquery-ui-i18n.min.js


requirejs/*.sh
requirejs/dist

bootstrap-tour/src
bootstrap-tour/build/*/*standalone*
