*.pyc
*~
__pycache__
test
tests
node_modules
demo
doc
docs
man
benchmark
codemirror/mode/*/index.html
components/highlight.js/tools
components/jquery-ui/themes/*
!components/jquery-ui/themes/base

components/less.js/lib
components/less.js/build
